/* when screen smol */
@media (max-width: 1100px) {
    .city-section h1 {
        font-size: 1em;
    }

    .city-section p {
        font-size: .8em;
    }
    .city-weather h2{
        font-size: 1em;
    }

    .city-title h4 {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    .page-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .city-search {
        width: 95vw;
        height: 15vh;
        margin: 1vw;
    }

    .weather-forecast {
        width: 100vw;
        height: 85vh;
    }

    .city-weather {
        width: 50%;
        height: 80vh;
    }

    .city-section h1 {
        display: none;
    }

    .delete-button {
        visibility: hidden;
    }
    
    .history-button {
        visibility: hidden;
    }

    .search-bar {
        margin-top: 15px;
    }

    
    /* 5 day forecast */
    .forecast {
        display: flex;
        flex-wrap: wrap;
        height: 70vh;
        width: 40%;
    }
    
    .forecast-card {
        margin: 0;
        width: 30%;
        height: 10.2vh;
    }
    
    .forecast-card img {
        width: 35px;
        margin-left: 35%;
    } 
    
    .forecast-card h6, h5{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 1px;
    }
    
    .forecast-title {
        margin-left: 5px;
    }
}

