/* when screen smol */
@media (max-width: 1100px) {
    .city-section h1 {
        font-size: 1em;
    }

    .city-section p {
        font-size: .8em;
    }
    .city-weather h2{
        font-size: 1em;
    }

    .city-title h4 {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    .city-section {
        margin: 1vw;
        height: 530px;
        width: 300px;
    }
    
    .city-weather {
        margin: 1vw;
        height: 300px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .forecast {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1vh;
        height: 245px;
        width: 300px;
    }
    
    .forecast-card {
        margin: 1vh;
        width: 200px;
        height: 200px;
    }
    body {
        margin: 0;
        min-height: 100%;
        max-width: 100%;
    }
}

