* {
    box-sizing: border-box;
}


html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    background:
    linear-gradient( rgba(250, 250, 250, 1),
    rgba(0, 0, 0, 0.3) );
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
    text-align: center;
    font-size: 5vh;
    color: white;
    background-image: linear-gradient( rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1) ),
    linear-gradient(to bottom right, red, yellow);
    margin: 0 auto 0 auto;
    padding: 1vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 0 0 5px 5px;
    width: 80vw;
}

.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.column {
    background-color: rgba(255, 255, 255, 0.529);
    margin: 2vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
}

.city-section {
    margin: 1vw;
    height: 530px;
    width: 300px;
}

.city-section h1 {
    padding: 5% 5% 0 5%;
}

.search-bar {
    width: 90%;
    margin: 0 5% 10px 5%;
    height: 35px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-button {
    width: 90%;
    margin: 0 5% 10px 5%;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(73, 73, 123, 0.5);
}

.search-button:hover {
    cursor: pointer;
    background-color: rgba(73, 73, 123, 0.8);
}

.search-button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.city-weather {
    margin-top: 20px;
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.UVindex1 {
    background-color: rgba(0, 255, 8, 0.489);
    width: 125px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}

.UVindex2 {
    background-color: rgba(255, 225, 0, 0.489);
    width: 125px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}

.UVindex3 {
    background-color: rgba(255, 0, 0, 0.489);
    width: 125px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}

.city-title {
    display: flex;
    flex-wrap: wrap;
}

.weather-header {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4vh;
}

.city-weather h2 {
    padding-top: 5px;
    padding-left: 35px;
}

.city-weather h4 {
    padding-top: 10px;
    padding-left: 35px;
}

.city-weather p {
    margin-left: 45px;
}

.weather-header p {
    margin-left: 1vh;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 245px;
    width: 600px;
}

.forecast-card {
    color: white;
    background-color: rgba(70, 70, 103, 0.768);
    margin: 2vh;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.forecast-card img {
    margin-left: 60px;
} 


.forecast-card h6, h5{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px;
}

.forecast-title {
    margin-left: 15px;
}


@media (min-width: 1000px) {
    .city-section {
        height: 580px;
        width: 300px;
    }
    
    .city-weather {
        height: 300px;
        width: 1000px;
    }

    .forecast {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 245px;
        width: 1000px;
    }

    .forecast-card {
        margin: 0;
        width: 170px;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .city-section {
        margin: 1vw;
        height: 530px;
        width: 300px;
    }
    
    .city-weather {
        margin: 1vw;
        height: 300px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .forecast {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1vh;
        height: 245px;
        width: 300px;
    }
    
    .forecast-card {
        margin: 1vh;
        width: 200px;
        height: 200px;
    }
    body {
        margin: 0;
        min-height: 100%;
        max-width: 100%;
    }
}
