* {
    box-sizing: border-box;
}


html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    background-image: url('../assets/images//day.jpg');
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vh;
}

.column {
    background-color: rgba(0, 0, 0, 0.125);
}

.weather-forecast {
    width: 50vw;
}

.forecast {
    display: flex;
}

.forecast-card {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#forecastText {
    margin: 5px;
}